*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat,sans-serif;
    margin: 0 40px;
}

#header-main{
    color: rgb(2, 190, 247);
    text-align: center;
    padding: 15px;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.block-date , .block-info{
    display: inline-block;
    background-color: rgb(218, 218, 218);
    height: 200px;
    padding: 100px ;
    margin: 1px 60px;
    line-height: 10px;
}

.date , .text-info{
    margin: 20px 0;
    font-size: 15px;
    line-height: 25px;
}

.block-date{
    float: left;
}

;.block-info{
    float: right;
}

.block-date , .block-info{
    width: 25%;
}

.section-2{
    position: relative;
    left: 130px;
    
}